<ion-view title="礼物榜">
	<ion-nav-buttons side="right">
		<!--选项卡部分
			
        	button-clear 清除按钮边框
        	通过ng-class 设置指定导航元素的样式
        	通过ng-click 点击控制所选导航元素的样式改变
        -->
		<button class="button button-clear icon ion-share"></button>
	</ion-nav-buttons>
	<div class="bar bar-subheader top-subheader">
		<span ng-repeat="title in allTitle" ng-class="{'btn-active':$index == selectIndex}" ng-click="topAction($index)">{{title}}</span>
	</div>
	<!--内容部分
    	因为有4个页面需要切换，所有不能直接写ion-content 需要添加ion-slide-box
    	ng-repeat 创建四个滚动页面
    	show-pager="false" 去除ion-slide上的点
    	collection-repeat 与ng-repeat 优点是可以设置item 的宽和高
    	collection-repeat 动态加载，通过translate位移来增加item 会重复执行
    	ng-class进行判断指定情况下的样式
    	注：通过给整个item添加div,给div添加padding,使得item四周出现空隙
    	给iten-height设置变量，相对于不同的屏幕，对应固定的高度
    	ng-style="itemStyle" ng-style并非行内样式 itemStyle是一个对象，他是行内样式的一个键值对
    	on-slide-changed 进行翻页事件的处理
    	添加ng-if控制 判断滑动情况 
    -->
    <ion-slide-box class="top-box" show-pager="false" on-slide-changed="topPageChange($index)">
    	<ion-slide ng-repeat="item in allTitle">
    		<ion-content id="top">
    			<img class="list-main" src="img/main.jpg" ng-if="$index==selectIndex||$index==selectIndex+1||$index==selectIndex-1"/>
    			<div class="top-list" id="toplist" ng-if="$index==selectIndex||$index==selectIndex+1||$index==selectIndex-1">
    				<div class="top-item" collection-repeat="item in allListData[$index]" item-height="itemHeight" item-width="50%" ng-class="{'left':$index%2==0,'right':$index%2 == 1}" ng-style="itemStyle">
    					<!--<div class="item-content" id="topItem">{{item.num}}{{item.active()}}</div>-->
	    				<div class="item-content" id="topItem">
	    					<div class="img" ng-style="{{imgStyle}}"><img class="item-cover" ng-src="{{item.imgUrl}}" /></div>
    						<p>{{item.name}}</p>
    						<p>{{item.description}}</p>
    						<p>￥{{item.price|number:0}}</p>
	    				</div>
	    			</div>
    			</div>
    		</ion-content>
    	</ion-slide>
    </ion-slide-box>
</ion-view>