<!--图标在上 文字在下-->
<ion-tabs class="tabs-icon-top tabs-light tabs-color-active-assertive">
	<ion-tab class="tabs-item-stable" title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
		<ion-nav-view name="home"></ion-nav-view>
	</ion-tab>
	<ion-tab title="榜单" icon-on="ion-ios-pricetags" icon-off="ion-ios-pricetags-outline" ui-sref="tabs.top">
		<ion-nav-view name="top"></ion-nav-view>
	</ion-tab>
	<ion-tab title="分类" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="tabs.category">
		<ion-nav-view name="category"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" ui-sref="tabs.me">
		<ion-nav-view name="me"></ion-nav-view>
	</ion-tab>
</ion-tabs>